.App {
  min-height: 100vh;
  background-image: linear-gradient(120deg, #d4fc79 0%, #96e6a1 100%);
}

.search-form {
  min-height: 10vh;
  justify-content: center;
  display: flex;
  align-items: center;
}

.search-bar {
  width: 50%;
  padding: 10px;
  border: none;
}

.search-button {
  background: lightcoral;
  border: none;
  padding: 10px 20px;
  color: black;
  font-size: 16px;
  font-weight: bold;
}

.recipes {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
